.container{
    width: 450px;
    height: 697px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 121px;
    left: 495px;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}
.img1{
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
}
h2{
    height: 37px;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #1F2E55;
}
.paragraph{
    color:#717FA6;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    height: 78px;
}
.rec1{
    display: flex;
    width: 354px;
    height: 98px;
    background-color: #F7F9FF;
    margin-top: 20px;
    margin-left: 48px;
    border-radius: 11px;
}
.img2{
    width: 48px;
    height: 48px;
    margin-left: 24px;
    margin-top: 25px;
}
h4{
    margin-top: 25px;
    margin-left:20px;
}
.price{
    color: #717FA6;
    margin-top: 52px;
    margin-left: -85px;
}
.change{
    color: #382AE1;
    text-decoration-line: underline;
    margin-top: 40px;
    margin-left: 80px;
}
.rec2{
    margin-top: 32px;
    width: 354px;
    height: 50px;
    background-color: #382AE1;
    margin-left: 48px;
    border-radius: 11px;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);

}
h3{
    position: absolute;
    left: 150px;
    width: 150px;
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
}
.cancel{
    color: #717FA6;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    margin-top: 32px;
    margin-left: 176px;
}